################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/services/identity/src/Tasky.IdentityService.EntityFrameworkCore.zip
